# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE / Editor settings
.vscode/
.idea/

# Environment variables & secrets
.DS_Store
data/uploads/
.env

# Test outputs & temporary images (optional)
prescription.jpg
prescriptions_1.jpg

# Mongodb
mongomeditrace_db_user
mongoMeditrace1234